.App-categories {
  color: white;
  background-color: rgb(38, 38, 38);
  border: 1px solid rgb(51, 51, 51);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
}

.App-categories-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: rgb(176, 184, 191);
  padding-top: 12px;
  padding-bottom: 12px;
}

.App-categories-category {
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.App-categories-category > span {
  transition: all 0.3s;
}

.App-categories-category:not(.active) > span:hover {
  color: rgb(51, 160, 255) !important;
  background-color: rgb(51, 51, 51);
  background-clip: padding-box;
}

.App-categories-category.active {
  color: rgb(51, 160, 255) !important;
  background-color: rgb(51, 51, 51);
  background-clip: content-box;
}

.App-categories-category.active::after {
  opacity: 1;
}

.App-categories-category::after {
  content: "";
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s ease 0s;
  left: 15px;
  top: 0px;
  bottom: 0px;
  border-left: 3px solid rgb(51, 160, 255);
}

.App-categories-category > span {
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.App-categories-create-category,
.App-categories-create-post {
  background: rgb(51, 160, 255);
  border-bottom: 1px solid rgb(51, 51, 51);
  background-clip: content-box;
  font-weight: 900;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.3s;
}

.App-categories-create-category:hover,
.App-categories-create-post:hover {
  filter: brightness(110%);
}
