.App-post {
  /* border-bottom: 1px solid rgb(52, 53, 54); */
  /* margin-bottom: 15px; */
}

.App-post:has(.App-post-blur) {
  background: rgba(0, 0, 0, 0.5);
}

.App-post-blur {
  transition: all 0.3s;
  /* background: rgba(0, 0, 0, 0.1); */
}

.App-post-blur > * {
  filter: blur(8px);
}

.App-post-blur::before {
  content: "*** Click here to show this post ***";
  z-index: 1000;
  position: absolute;
  filter: blur(0);
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 13px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  top: 45%;
}

.App-post-blur:hover {
  /* box-shadow: inset 0 0 4em rgba(0, 0, 0, 0.25); */
}

.App-post-vote {
  /* border-right: 1px solid rgb(52, 53, 54); */
  background: rgb(26, 26, 27);
}

.App-post-vote > div {
  padding-left: 10px;
  padding-right: 10px;
}

.App-post-vote-count {
  font-size: 13px;
  line-height: 25px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.App-post-vote-vote {
  cursor: pointer;
}

.App-post-vote-vote:hover {
  color: rgb(51, 160, 255);
}

.App-post-title > span {
  color: rgb(255, 255, 255);
  transition: color 0.1s ease 0s;
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  cursor: pointer;
}

.App-post-title > span:hover {
  color: rgb(51, 160, 255);
  text-decoration: underline;
}

.App-post-content {
  font-size: 13px;
  line-height: 19px;
  color: rgb(176, 184, 191);
}

.App-post-details {
  font-size: 13px;
  margin-right: 4px;
  color: rgb(176, 184, 191);
}

.App-post-comment,
.App-post-category,
.App-post-user {
  color: rgb(255, 255, 255) !important;
  transition: color 0.1s ease 0s;
  text-decoration: none;
  cursor: pointer;
}

.App-post-comment:hover,
.App-post-category:hover,
.App-post-user:hover {
  color: rgb(51, 160, 255) !important;
  text-decoration: underline;
}

/* .App-post-comment:before {
  content: "\F10C";
  font-family: redesignFont;
} */
