.App-header {
  color: white;
  margin-bottom: 24px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
  height: 48px;
  background-color: rgb(38, 38, 38);
  border-bottom: 1px solid rgb(51, 51, 51);
}

.App-header-name {
  font-size: 24px;
  font-weight: 500;
  color: rgb(176, 184, 191);
  text-transform: capitalize;
}

.App-header-name > span {
  cursor: pointer;
}

.App-header-link {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(176, 184, 191) !important;
  transition: all 0.3s;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.App-header-link:hover {
  text-decoration: none;
  color: rgb(51, 160, 255);
}

.App-header-link::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -12px;
  opacity: 0;
  transition: all 0.3s;
  border-bottom: 3px solid rgb(51, 160, 255);
}

.App-header-link:hover::after {
  opacity: 1;
}
